/* For normalize */

ul {
    overflow: auto;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}


/* Custom styles */
html{
    font-size: 62.5%;
    font-family: "TT Lakes", Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

@media screen and (min-width: 320px) {
    body {
        overflow:scroll;
        -webkit-overflow-scrolling:touch;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .main-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
    }
    
    .main-menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 4rem;
        min-width: 4rem;
        background-color: #FF3E79;
        border-radius: 50%;
    }

    .main-menu__item:nth-of-type(n+3):nth-of-type(-n+5) {
        display: none;
    }
    
    .main-menu__logo {
        width: 96px;
        height: 51px;
        background: url("../icons/main-menu/logo.png") no-repeat center center;
    }
    
    .main-menu__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
    }
    
    .main-title {
        margin: 0;
        padding: 2.4rem 0;
        font-weight: bold;
        font-size: 2.8rem;
    }


    main {
        background-color: #F8F8F8;
    }

    .main-title::before {
        content: '';
        height: 3rem;
        border-left: 4px solid #41F6D7;
        border-radius: 40%;
        position: absolute;
        transform: translateX(-1.7rem);
    }
        
    .secondary-menu {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }
    
    .secondary-menu__item {
        display: flex;
        flex: 1 0 auto;
        height: 4rem;
        box-sizing: border-box;
        padding: .8rem;
        font-size: 16px;
        text-align: center;
        border: 2px solid #F8F8F8;
        border-radius: 6px;
    }

    .secondary-menu__item:first-of-type {
        display: none;
    }

    .secondary-menu__item--active {
        background: #FFFFFF;
        border-color: #B8FFEC;
    }

    .secondary-menu__item a {
        text-decoration: none;
        color: #7E7E82;
    }

    .secondary-menu__item a:visited {
        color: #7E7E82;
    }


    
    
    .self-info {
        width: 100%;

    }

    .self-info img {
        width: 100%;
    }
    
    .self-info__text {
        overflow: hidden;
        text-overflow: clip;
        display: block;
        line-height: 18px;
        max-height: 100px;
        letter-spacing: 0.2px;     
    }
    
    .self-info__img {
        margin-top: 16px;
    }
    
    .self-info__button {
        margin-top: 16px;
    }

    .main-text {
        font-size: 14px;
    }
    
    
    .button {
        border: none;
        padding-left: 30px;
        background: #F8F8F8 url("../icons/button/expand.png") no-repeat center left;
        font-size: 16px;
        font-weight: 500;
    }
}



